footer {
    
  .footer--wrapper {
    border-radius: 50px 50px 0px 0px;
    border-top: 1px solid rgba(45, 46, 72, 0.21);
    background: rgba(5, 5, 32, 0.3);
    backdrop-filter: blur(20.350000381469727px);
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    min-height: 300px;
    padding-top: 48px;
    padding-bottom: 24px;
    gap: 48px;
  }
  .roullete--description{
    img{
      width: 250px;
      height: auto;
      margin-bottom: 24px;
    }
    p{
      max-width: 450px;
      margin-bottom: 24px;
    }
    .bullet-address{
      background-color: rgba($color: #fff, $alpha: 0.1);
      padding: 8px;
      border-radius: 8px;
      word-wrap: break-word;
      word-break: break-all;

    }

    #snackbar {
      visibility: hidden;
      min-width: 250px;
      margin-left: -125px;
      background-color: #333;
      color: #fff;
      text-align: center;
      border-radius: 8px;
      padding: 16px;
      position: fixed;
      z-index: 1;
      left: 50%;
      bottom: 30px;
      font-size: 17px;
    }
    #snackbar.show {
      visibility: visible;
      -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
      animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }
    
    @-webkit-keyframes fadein {
      from {bottom: 0; opacity: 0;} 
      to {bottom: 30px; opacity: 1;}
    }
    
    @keyframes fadein {
      from {bottom: 0; opacity: 0;}
      to {bottom: 30px; opacity: 1;}
    }
    
    @-webkit-keyframes fadeout {
      from {bottom: 30px; opacity: 1;} 
      to {bottom: 0; opacity: 0;}
    }
    
    @keyframes fadeout {
      from {bottom: 30px; opacity: 1;}
      to {bottom: 0; opacity: 0;}
    }
  }
  .btn-group{
    display: flex;
    gap: 16px;
  }

  article {
    h4 {
      margin-bottom: 16px;
    }
    ul{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
  }
  .bottom-footer{
    display: flex;
    justify-content: center;
    margin: 24px 0;
  }
}


@media(max-width: 850px){
    footer{
        article{
            width: 100%;
        }
    }
}

@media(max-width: 600px){
    footer{
        article{
            width: auto;
        }
    }
}