html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Microgramma D";
  src: url("../../fonts/Microgramma D Extended Bold.otf");
  src: local("Microgramma D Extended Bold"), local("../../fonts/Microgramma D Extended Bold.otf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  background: rgb(156, 71, 7);
  background: linear-gradient(180deg, rgb(156, 71, 7) 0%, rgb(13, 2, 0) 100%);
  font-family: "Inter", sans-serif;
  background-repeat: no-repeat;
}

h1 {
  font-size: clamp(2rem, 4vw, 3rem);
  font-family: "Microgramma D";
}

h2 {
  font-size: clamp(1.75rem, 4vw, 2.5rem);
  font-weight: 700;
}

h3 {
  font-size: clamp(1.125em, 1.5em, 24px);
}

h4 {
  font-size: clamp(1.25rem, 2vw, 1.3rem);
  font-family: "Inter", sans-serif;
}

h5 {
  font-size: 18px;
}

h1,
h2,
h3 {
  color: #fff;
}

p.body-md-size {
  font-size: 18px;
}

p {
  font-size: 16px;
  line-height: 24px;
}

.bold-text {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: "Inter", sans-serif;
  transition: 0.3s;
}
a:hover {
  color: #2C87E7;
  transition: 0.3s;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.link-text {
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

.section--bottom__margin {
  margin-bottom: 96px;
}

.section_max-width {
  max-width: 1400px;
  margin: auto;
  padding: 12px 24px;
}

ul {
  list-style: none;
}

.semi-bold {
  font-weight: 600;
}

.margin-top {
  margin-top: 24px;
}

.margin-bottom-8 {
  margin-bottom: 8px;
}

.link-underline {
  text-decoration: underline;
}

.flex-container {
  display: flex;
  gap: 24px;
  width: 100%;
}
.flex-container .img-container {
  width: 50%;
}
.flex-container .text-description {
  width: 50%;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
  .flex-container .text-description {
    width: 100%;
  }
  .flex-container .img-container {
    width: 100%;
  }
  .flex-container .img-container img {
    width: 100%;
  }
}
.btn {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  padding: 12px 24px;
  border-radius: 8px;
  border: 2px solid;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  cursor: pointer;
}

.gradient-btn {
  color: #fff;
  position: relative;
  border: none;
  background: linear-gradient(75deg, rgb(255, 204, 0) 0%, rgb(254, 101, 0) 100%);
}

.gradient-btn-purple {
  color: #fff;
  position: relative;
  border: none;
  background: rgb(151, 71, 255);
  background: linear-gradient(180deg, rgb(151, 71, 255) 0%, rgb(100, 27, 158) 100%);
}

.sec-btn {
  color: #fff;
}

footer .footer--wrapper {
  border-radius: 50px 50px 0px 0px;
  border-top: 1px solid rgba(45, 46, 72, 0.21);
  background: rgba(5, 5, 32, 0.3);
  -webkit-backdrop-filter: blur(20.3500003815px);
          backdrop-filter: blur(20.3500003815px);
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  min-height: 300px;
  padding-top: 48px;
  padding-bottom: 24px;
  gap: 48px;
}
footer .join-community {
  display: flex;
  padding: 24px;
  align-items: center;
  flex-flow: row wrap;
  gap: 24px;
  height: -moz-max-content;
  height: max-content;
  border-radius: 32px;
  border: 1px solid #2c2d47;
  background: linear-gradient(137deg, rgba(27, 28, 54, 0.16) 23.98%, rgba(112, 113, 122, 0.16) 65.73%);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}
footer .join-community img {
  width: 48px;
  height: auto;
}
footer .join-community img:first-child {
  margin-right: 8px;
}
footer article h5 {
  margin-bottom: 16px;
}
footer article ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (max-width: 850px) {
  footer article {
    width: 100%;
  }
}
@media (max-width: 600px) {
  footer article {
    width: auto;
  }
}
nav {
  height: 100px;
  position: relative;
  background-color: #222;
}
nav .nav-wrapper {
  display: flex;
  justify-content: space-around;
  height: inherit;
  align-items: center;
}
nav .nav-wrapper .logo-img {
  width: 200px;
  height: auto;
}
nav .navbar__Link-toggle {
  display: none;
}
nav .navbar__items {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 24px;
}

@media (max-width: 800px) {
  nav {
    width: 100%;
    position: fixed;
    z-index: 9999999;
    height: auto;
    border-bottom: 1px solid #565a6f;
  }
  nav .nav-wrapper {
    background-color: #222;
    padding: 16px 24px;
  }
  nav .nav-wrapper img {
    width: 72px;
  }
  nav .logo {
    align-self: flex-start;
  }
  nav .nav-wrapper,
  nav .navbar__items {
    flex-direction: column;
    justify-content: flex-start;
    gap: 32px;
    transition: 0.3s;
  }
  nav .navbar__items {
    display: none;
    margin-left: 0;
  }
  nav .navbar__Link-toggle {
    display: flex;
    margin-left: auto;
    align-items: center;
    align-items: flex-end;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    right: 16px;
    margin-top: 12px;
  }
  nav .cta-container {
    margin-top: 24px;
  }
  nav .navbar__ToggleShow {
    display: flex;
    height: auto;
    transition: 0.3s;
  }
}
.hero-section {
  position: relative;
  height: 70vh;
}
.hero-section .video-wrapper {
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-section video {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(10%);
}
.hero-section .content--wrapper {
  position: relative;
}
.hero-section header {
  max-width: 750px;
  margin: auto;
  text-align: center;
  margin: 64px auto 48px;
}
.hero-section h1 span {
  color: #FFCC00;
}
.hero-section h4 {
  font-weight: 500;
  margin-top: 16px;
}
.hero-section .btn-group {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.hero-section .features--list {
  display: flex;
  justify-content: space-around;
  gap: 24px;
  padding: 24px;
  max-width: 1400px;
  margin: auto;
  margin-top: 64px;
}
.hero-section .features--list .feature--item {
  border-radius: 16px;
  padding: 24px;
  width: calc(33.3% - 24px);
  height: auto;
  background-repeat: no-repeat;
  background-position: 105% 100%;
  background-size: 29%;
}
.hero-section .features--list .deposit {
  background-image: url("../images/feature-1.png");
  background-color: #641b9e;
}
.hero-section .features--list .reward {
  background-image: url("../images/feature-2.png");
  background-color: #026dbb;
}
.hero-section .features--list .provably-fair {
  background-image: url("../images/feature-3.png");
  background-position: 105% -210%;
  background-color: #161616;
}
.hero-section .features--list .text-group {
  max-width: 200px;
}
.hero-section .features--list h4 {
  margin-bottom: 16px;
  max-width: 160px;
}

@media (max-width: 850px) {
  .hero-section {
    height: auto;
  }
  .hero-section .features--list {
    padding: 16px;
    padding-bottom: 64px;
  }
  .hero-section .features--list .feature--item {
    padding: 16px;
    width: calc(50% - 24px);
    background-size: 35%;
  }
  .hero-section .features--list .provably-fair {
    background-position: 105% 150%;
  }
}
@media (max-width: 800px) {
  .hero-section header {
    margin-top: 114px;
  }
}
@media (max-width: 750px) {
  .hero-section .features--list {
    flex-flow: row wrap;
  }
  .hero-section .features--list .provably-fair {
    background-position: 105% 0%;
  }
}
@media (max-width: 600px) {
  .hero-section .features--list .feature--item {
    width: calc(100% - 0px);
    background-size: 30%;
    background-position: 105% -80%;
  }
  .hero-section .features--list .provably-fair {
    background-position: 105% 0%;
  }
}
@media (max-width: 500px) {
  .hero-section .features--list .feature--item {
    background-position: 105% 100%;
  }
  .hero-section .features--list .provably-fair {
    background-position: 105% 0%;
  }
}
.gameplay .black--opacity {
  background-color: rgba(0, 0, 0, 0.7);
}
.gameplay .gameplay--item img {
  border-radius: 16px;
  width: 80%;
}
.gameplay .gameplay--item .flex-container {
  align-items: center;
  justify-content: space-evenly;
}
.gameplay .gameplay--item p {
  max-width: 450px;
  margin: 24px 0;
}

@media (max-width: 800px) {
  .gameplay .gameplay--item {
    padding: 16px 0;
  }
  .gameplay .gameplay--item img {
    width: 100%;
  }
  .gameplay .gameplay--item p {
    max-width: 100%;
  }
  .gameplay .reverse-column {
    flex-direction: column-reverse;
  }
}
.gameplay-experience header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  max-width: 800px;
  margin: 64px auto 0;
  gap: 24px;
}
.gameplay-experience header button {
  display: flex;
  justify-content: center;
  width: 300px;
}
.gameplay-experience .characters--list {
  display: flex;
  gap: 24px;
  margin-top: 48px;
}
.gameplay-experience .character--item {
  width: calc(33.3% - 24px);
  position: relative;
}
.gameplay-experience .character--item .img-container {
  width: 100%;
  border-radius: 8px;
  filter: brightness(70%);
}
.gameplay-experience .character--item img {
  width: 100%;
  border-radius: 8px;
  transition: 0.2s;
}
.gameplay-experience .character--item .text-group {
  position: absolute;
  bottom: 4px;
  left: 0;
  text-align: center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
  padding: 16px;
  border-radius: 0 0 8px 8px;
}
.gameplay-experience .character--item .text-group h4 {
  margin-bottom: 8px;
}

@media (max-width: 800px) {
  .gameplay-experience .characters--list {
    display: flex;
    flex-flow: row wrap;
  }
  .gameplay-experience .character--item {
    width: calc(50% - 24px);
  }
}
@media (max-width: 550px) {
  .gameplay-experience .character--item {
    width: calc(100% - 0px);
  }
}
.gameplay-guidelines {
  padding: 48px 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.gameplay-guidelines .flex-container {
  align-items: center;
}
.gameplay-guidelines .img-container img {
  width: 100%;
  border-radius: 16px;
}
.gameplay-guidelines .text-description h2 {
  margin-bottom: 24px;
}
.gameplay-guidelines .guidelines--list {
  margin-top: 16px;
}
.gameplay-guidelines .guidelines--list .guideline--item {
  display: flex;
  gap: 16px;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 16px;
  padding: 8px;
}
.gameplay-guidelines .guidelines--list span {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 4px 8px;
  transform: translateY(6px);
}
.gameplay-guidelines button {
  display: flex;
  justify-content: center;
  width: 100%;
}

.tokenomics-section {
  padding: 48px 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.tokenomics-section h2 {
  text-align: center;
}
.tokenomics-section .token-description {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  justify-content: space-around;
  max-width: 1000px;
  margin: 24px auto;
}
.tokenomics-section .token-description p {
  color: #b7c3c7;
}
.tokenomics-section .token-description span {
  color: #fe6500;
  font-weight: 600;
  margin-top: 8px;
}
.tokenomics-section .tokenomics--wrapper {
  display: flex;
  gap: 24px;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1400px;
  margin: auto;
}/*# sourceMappingURL=main.css.map */