$primaryColor: #FFCC00;
$secondaryColor: #757575;
$hrColor: #212121;
$linkTextColor: #000;
$linkTextHover: #2C87E7;
$headingFont: "Microgramma D";
$bodyFont: "Manrope", sans-serif;
$titleTextColor: #fff;
$bodyTextColor: #fff;
$border: 2px;
